
.navbar {
  background-color: #1e1e2f;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: rgb(250, 248, 248);
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Arial, sans-serif ;
  background-color: #f4f4f4;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 50%;
}


.section {
  background: white;
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;

}


.skills {
  list-style: none;
  padding: 0;
}


.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: #eeecec;
}
.body div{
    margin:60px 100px;
}

.body-text {
  max-width: 50%;
}

.intro {
  font-size: 18px;
  color: #555;
}

.body-text h1 {
  font-size: 48px;
  margin: 10px;
}

.description {
  font-size: 22px;
  line-height: 1.4;
  margin: 20px 0;
}

.location {
  color: #777;
  margin-bottom: 30px;
}

.highlight {
  color: #4f46e5; 
}


.body-btn {
  padding: 12px 24px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  
}
.body-btn a{
    text-decoration: none;
    color: #eeecec;
}

.body-btn:hover {
  background-color: #3730a3;
}

.body-img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
